
body {
  background-color: rgba(38, 0, 100, 0.671);
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.paddle{
  width: 20px;
  height: 90px;
  border-radius: 15px;
  position: absolute;
}

#paddleLeft {
  background-color: rgb(34, 95, 136);
  left:10px;
  top:175px;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#paddleRight {
  background-color: rgb(67, 19, 155);
  left:870px;
  top:175px;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#ball{
  background-color:rgba(122, 68, 129, 0.781);
  width: 30px;
  height:30px;
  border-radius:50px;
  position: absolute;
  left:435px;
  top:220px;
}
